
body{
    background-color: #000;
    background-image: linear-gradient(#0391c3 #002a53);
    width: 100%
}
h1{
    float:right;
    font-family: Impact, sans-serif;
    color: #e4532a;
    text-shadow: 3px 3px #0391c3;
    background-color: #000;
    border: 3px solid #e4532a;
    width: 32rem;
}
nav ul {
    float:left;
}
nav a{
    color: #0391c3;
    background-color: #002a53;
    border: 3px solid #e4532a;
    border-radius: 10px;
    margin: 2px;
    text-decoration: none;
    font-family: Impact, sans-serif;
    font-size: 2rem;
}
nav a:hover{
    color: #e4532a;
    border: 3px solid #0391c3;
    background-color: #002a53
}
.hero {
    margin: 0px;
    height: 450px;
    background-image: url(../img/hero.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#about h2{
    font-size: 4rem;
    color: #e4532a;
    border: 3px solid #0391c3;
    background-color: #002a53;
    width: 20%;
}
#about p{
    color: #0391c3
}

.buds {
    width: 100%;
}
.item {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position: top center;
    background-color: #000011
}
#carousel1 {
    background-image: url(../img/backseatboy.jpg);
}
#carousel2 {
    background-image: url(../img/haloween.jpg);
}
#carousel3 {
    background-image: url(../img/toosweet.jpg);
}
#carousel4 {
    background-image: url(../img/young.jpg);
}
footer {
    font-size: 2rem;
    color: #e4532a;
    text-decoration: none;
}
/* About Styles */
.about-row{
    margin-top: 20px;
}

/* Contact Styles */
label {
    color: #0391c3
}
.contact {
    color: #e4532a
}